*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
section .card .image{
    height: 140px;
    width:140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}
section .card .image img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #fff;
}
.card{
    background: #fff;
    border-radius: 20px;
    position: relative;
    width:280px;
}
.card::before{
    content:"";
    position: absolute;
    width: 100%;
    height:40%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    z-index: 1;
}
.media-icons{
    position: absolute;
    top:10px;
    right:10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.media-icons i{
    color: #fff;
    opacity: .6;
    cursor: pointer;
    margin-top: 5px;
}
.media-icons i:hover{
    opacity: 1;
}
.name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    color:#333;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 600px;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500px;
}
